{{> header }}

    <article>
    	<h1>{{ title }}</h1>
    	{{{ contents }}}
    </article>
    <article-footer>
        {{#if prev }}
        <div class="Article-prev">
            <a class="Article-link" data-title="{{ prev.title }}" href="/{{ prev.path }}">
                {{{ svg 'arrow-left' }}}
            </a>
        </div>
        {{/if}}
        {{#if next }}
        <div class="Article-next">
            <a class="Article-link" data-title="{{ next.title }}" href="/{{ next.path }}">
                {{{ svg 'arrow-right' }}}
            </a>
        </div>
        {{/if}}
    </article-footer>

{{> footer }}